<button (click)="addStudent()">Add</button>
<button (click)="loadStudents()">Load</button>
<select (change)="changeSize($event)" [(ngModel)]="pageSize">
    <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
</select>
<div *ngIf="students.length > 0">
    <p>Students list:</p>
    <ul>
        <li *ngFor="let student of students, let i = index">
            <app-student-entry [index]="pageNumber * pageSize + i" [student]="student" 
                (detailsWanted)="showDetails(student.id)">
            </app-student-entry>
        </li>
    </ul>
    <button (click)="clear()">Clear</button>
    <br><br>
    <div>
        <button [disabled]="isPreviousPageDisabled()" (click)="previousPage()"><</button>
        <span> {{pageNumber + 1}} </span>
        <button [disabled]="isNextPageDisabled()" (click)="nextPage()">></button>
    </div>
</div>