<ng-container *ngIf="studentId | async as id">
    <button (click)="close()">X</button>
    <div>
        <label>password: </label>
        <input type="password" [(ngModel)]="password">
        <br>
        <label>confirm password: </label>
        <input type="password" [(ngModel)]="confirmedPassword">
        <br>
    </div>
    <ul *ngFor="let error of errors" style="color: red;">
        <li>{{error}}</li>
    </ul>
    <button (click)="clear()">Clear</button>
    <button [disabled]="errors.size > 0" (click)="confirm(id)">Confirm</button>
</ng-container>