<app-close-button [previousPage]="page.MAIN_PAGE"></app-close-button>
<ng-container *ngIf="studentId | async as id">
    <div *ngIf="getStudent(id); let student">
        <p>id: {{student.id}}</p>
        <p>email: {{student.email}}</p>
        <p>first name: {{student.firstName}}</p>
        <p>last name: {{student.lastName}}</p>
        <p>birt date: {{student.birthDate}}</p>
    </div>
    <button (click)="updatePassword()">Update Password</button>
    <button (click)="editStudent()">Edit Data</button>
    <button (click)="deleteStudent(id)">Delete</button>
</ng-container>